footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footer-container {
    background-color: #affa00;
    color: #000000;
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
